h1 {
    display: block;
    width: 100%;
    border: none;
    background-color: #F9D5A7;
    font-size: 300%;
    cursor: pointer;
    text-align: center;
    
}

button {
    display: block;
    width: 100%;
    border: none;
    background-color: #FEF1E6;
    padding: 14px 28px;
    font-size: 200%;
    cursor: pointer;
    text-align: center;
  }